.navigation-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-items: center;
  margin: 0 auto;

  .logo{
    flex-grow: 1;
    font-size: 18pt;
  }

  nav {
    ul {
      display: flex;
      width: 100%;
      flex-grow: 1;

      .nav-item{
        list-style: none;
        font-size: 18pt;
      
        margin: 15px;   
        float: right;
        
        .nav-link{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}